*.tar
*.pt
*.pth
*.zip
*.sif
/output
/outputs
/log
/logs
/wandb
/visualization
/samples
__pycache__/
/pyrightconfig.json
-*
/.env
not_extracted*
*.gz
notebooks/diffusion/
notebooks/dino_repair/
.vscode/
config/base_jh.yaml
scripts/ttrain.sbatch
scripts/__setup.sh
config/eval_fast_jh.yaml
config/train_fast_jh.yaml
config/eval_jh.yaml
config/train_jh.yaml
scripts/eeval.sbatch
scp.sh
config/debug/base_jh.yaml
notebooks/sel_ckps.ipynb
tem.py
scripts/submit.sh
data/egotracks/
ours_visualize/
config/base_sy.yaml
config/eval_fast_sy.yaml
config/eval_sy.yaml
config/train_fast_sy.yaml
config/train_sy.yaml
config/debug/base_sy.yaml
scripts/ttrain-multinode.sbatch
notebooks/box_aug.ipynb
scripts/train-multinode_ugrad.sbatch
notebooks/qualitative_result.ipynb
notebooks/pca2 copy.ipynb
notebooks/ours_visualize.ipynb
