*.tar
*.pt
*.pth
*.zip
*.sif
/output
/outputs
/log
/logs
/wandb
/visualization
/samples
__pycache__/
/pyrightconfig.json
-*
/.env
not_extracted*
*.gz
notebooks/diffusion/
notebooks/dino_repair/
.vscode/
data/egotracks_v1_train.json
data/egotracks_v1_val.json