hydra-core==1.3.2
kornia==0.6.10
lightning==2.4.0
lightning-utilities==0.11.7
transformers==4.44.2
decord==0.6.0
wandb>=0.12.10
ego4d
python-dotenv
ipykernel
pillow
matplotlib
seaborn
pandas
scipy
ffmpeg-python
lightning
einops
timm
av
opencv-python
fire
pims
pot
geomloss
